/* .menu{
    background-color: rgb(255 255 255);
    position: fixed;
    padding-top: 28px;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(100%);
    transition: all 0.3s;
} */
.menu{
    background-color: rgb(15 37 53 / 88%);
    position: fixed;
  
    /* width: 100%;
    height: 100vh;
    top: 50px;
    right: 0; */
   
}
.menu.active{
    transform: translateY(0);
}
/* .blur{
    width: 100%;
    height: 100vh;
    left: 30%;
    backdrop-filter: blur(2px);
    position: absolute;
} */
/* .menu__content{
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}  */
/* .menu__header{
    padding: 10px;
    font-size: 2rem;
    color: black;
    border-bottom: 1px solid  white;
    width: 100%;
    text-align: center;
} */
.menu__ul a {
   color: rgb(255 255 255);
   text-decoration: none;
   font-size: 1.3rem;
}
/* .menu__ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

} */
.menu__ul li{
    /* border-top: 1px solid;  */
    padding: 18px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
    /* margin: 10px 0;*/
}
.menu__ul{
    text-align: center;
    padding: 10px;
    /* padding: 20px; */
}
.material-icons{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    cursor: pointer;
}

.mn__link li a{
    color: black;
    list-style-type: none;
    text-decoration: none;
}

@media(max-width: 767px){
    .mn__link{
    list-style-type: none;
    text-decoration: none;
    }
    .mn__link{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
    .ln{

    }
    .ln.active{

    }
}


/*потом исправить верху значение в класс-стиль*/
.menu{
    background-color: #120e01e6;
    position: fixed;
    width: 96%;
    height:  88vh;
    top: 60px;
    border-radius: 30px;
    right: 7px;
    transform: translateY(-110%);
    transition: all 0.4s;
 
    transition: 0.3s;
}
.menu.active{
    transform: translateY(0);
   
    transition: 0.3s;



   
}
.menu__ul a {
    font-family: system-ui;
    color: rgb(255 255 255);
    text-decoration: none;
    font-size: 28px;
    font-weight: 100;
}

/*стили текста выподающем меню*/
.text__color-menu{
    width: 140px;
    font-size: 12px;
    list-style-type: none;
    position: relative;
    top: 20px;
    left: 100px;
    color: #fff;
}



